@import "tailwindcss";

.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}